[Unit]
Description=4640Assignment3_REDACTED
After=network.target

[Service]
Type=simple
User=app_user
WorkingDirectory=/home/app_user/backend
ExecStart=/usr/local/bin/gunicorn wsgi:app -b 0.0.0.0:5000

[Install]
WantedBy=multi-user.target
